In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:

df=pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [3]:
df.head(20)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.210,45.990,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.770,2.770,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.240,43.250,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.770,0.000,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.540,55.130,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.970,34.650,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.730,28.110,1.278
10,f1_fuel_1994_12_4_0_2,4,1994,units 1-3,gas,mcf,262720.0,1.026000,1.940,1.940,13.900
11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779.0,22.428000,28.710,28.110,1.280
12,f1_fuel_1994_12_4_0_5,4,1994,unit 4,gas,mcf,6673.0,1.026000,1.940,1.940,1.900
13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558.0,25.038000,30.248,29.019,1.208
14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,oil,bbl,6510.0,5.875338,32.130,23.444,5.469
15,f1_fuel_1994_12_6_0_4,6,1994,amos-apco share,coal,ton,3520831.0,24.508000,44.404,42.915,1.812
16,f1_fuel_1994_12_6_0_7,6,1994,amos-total,coal,ton,5327281.0,24.538000,44.312,42.940,1.806
17,f1_fuel_1994_12_6_0_10,6,1994,glen lyn,coal,ton,666975.0,25.836000,36.268,32.893,1.404
18,f1_fuel_1994_12_6_0_13,6,1994,kanawha river,coal,ton,391864.0,25.160000,46.024,42.034,1.829
19,f1_fuel_1994_12_6_0_14,6,1994,kanawha river,oil,bbl,3505.0,5.774958,33.321,26.280,5.770

In [4]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [6]:
np.array([[1,0,0],[0,1,0],[0,0,1]])

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [7]:
low_avg_fuel_cost = df.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean()

In [8]:
low_avg_fuel_cost

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [9]:
low_avg_fuel_cost.sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

In [10]:
df['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [11]:
df['fuel_qty_burned'].skew()

15.851495469109503

In [12]:
df['fuel_qty_burned'].kurt()

651.3694501337732

In [17]:
df.isnull().count()

record_id                       29523
utility_id_ferc1                29523
report_year                     29523
plant_name_ferc1                29523
fuel_type_code_pudl             29523
fuel_unit                       29523
fuel_qty_burned                 29523
fuel_mmbtu_per_unit             29523
fuel_cost_per_unit_burned       29523
fuel_cost_per_unit_delivered    29523
fuel_cost_per_mmbtu             29523
dtype: int64

In [19]:
total_test_unit = df.isnull().sum()

In [22]:
total_test_unit

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [27]:
np.round((180/len(df.isnull()))*100,3)

0.61

In [28]:
correlations = df.corr()['fuel_cost_per_unit_burned']

In [30]:
correlations.sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [41]:
filter = pd.DataFrame(df.groupby(['fuel_type_code_pudl','report_year'])['fuel_cost_per_unit_burned'].sum().reset_index())

In [39]:
filter[filter['report_year']==1998]

    fuel_type_code_pudl  report_year  fuel_cost_per_unit_burned
4                  coal         1998                  11902.597
29                  gas         1998                   7475.596
54              nuclear         1998                 117788.269
79                  oil         1998                   2608.657
104               other         1998                    225.428
127               waste         1998                    238.109

In [42]:
filter[filter['report_year']==1994]

    fuel_type_code_pudl  report_year  fuel_cost_per_unit_burned
0                  coal         1994                  14984.572
25                  gas         1994                  10792.496
50              nuclear         1994                 227983.354
75                  oil         1994                   9362.194
100               other         1994                    116.737
123               waste         1994                     52.762

In [44]:
((11902.597-14984)/11902.597) * 100

-25.88849307424254

In [43]:
df.groupby(['report_year'])['fuel_cost_per_unit_delivered'].mean().sort_values()

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64